:root{
  --bg-dark-navy: #2c3e50;
  --bg-emerald: #1abc9c;
  --bg-navy: #3a546d;

  --text-dark-grey: #333333;
  --text-dark-navy: #2c3e50;

  --dim-header: 90px;
}

body{
  color: white;
}

html {
  scroll-padding-top: var(--dim-header);
  scroll-behavior: smooth;
}

/* -------------------------------------- */

/* UTILITY */
/* -------------------------------------- */
.bg-dark-navy{
  background-color: var(--bg-dark-navy);
}

.bg-navy{
  background-color: var(--bg-navy);
}

.bg-emerald{
  background-color: var(--bg-emerald);
}

.text-dark-grey{
  color: var(--text-dark-grey);
}

.text-dark-navy{
  color: var(--text-dark-navy);
}
/* -------------------------------------- */

/* link navbar */
.nav-link-custom{
  color: white;
}

.nav-link-custom:hover{
  color: var(--bg-emerald);
}

/* input text border & padding */
.form-control-custom{
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  padding-left: 0;
}

.form-control-custom::placeholder{
  color: var(--text-dark-grey);
}

/* star separator */
/* ---------------------------------------- */
.star{
  position: relative;
  font-size: 1.4rem;
}

.star::before{
  content: "";

  width: 10%;
  height: 4px;
  
  position: absolute;
  top: calc(50% - 2px);
  left: calc(50% + 32px);

  border-radius: 4px;
  background-color: currentColor;
}

.star::after{
  content: "";

  width: 10%;
  height: 4px;
  
  position: absolute;
  top: calc(50% - 2px);
  right: calc(50% + 32px);

  border-radius: 4px;
  background-color: currentColor;
}
/* end star separator */
/* ---------------------------------------- */

.debug *{
  border: 1px solid black;
}

/* -------------------------------------- */

/* HEADER */
header{
  height: var(--dim-header);
}

.navbar-toggler-custom{
  border-color: white;
}

/* HERO */
.hero-custom .image-custom{
  width: 250px;
  margin: 0 auto;
  margin-top: var(--dim-header);
}

/* ABOUT */
.container-custom{
  width: 80%;
  margin: 0 auto;
}

.btn-custom{
  background-color: var(--bg-emerald);
  border: none;
}

.btn-custom:hover{
  background-color: #148f76;
}

/* box icon brand */
.box{
  width: 40px;
  height: 40px;
  flex-shrink: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}


.link-custom{
  color: var(--bg-emerald);
}

.link-custom:hover{
  color: white;
}

.card-custom{
  position: relative;
}

.card-custom .box-shadow{
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.card-custom:hover .box-shadow{
  display: flex;
  content: "";
  background-color: rgba(26, 188, 156, 0.7);

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}