:root{
  --bg-dark-navy: #2c3e50;
  --bg-emerald: #1abc9c;
  --bg-navy: #3a546d;

  --text-dark-grey: #333333;
  --text-dark-navy: #2c3e50;
}

body{
  color: white;
}


/* DEBUG */
/* -------------------------------------- */


/* .container,
.row,
.col, */
body *{
  /* border: 1px solid black; */
  /* background-color: rgba(0, 0, 0, 0.2); */
}
/* -------------------------------------- */

/* UTILITY */
/* -------------------------------------- */
.bg-dark-navy{
  background-color: var(--bg-dark-navy);
}

.bg-navy{
  background-color: var(--bg-navy);
}

.bg-emerald{
  background-color: var(--bg-emerald);
}

.text-dark-grey{
  color: var(--text-dark-grey);
}

.text-dark-navy{
  color: var(--text-dark-navy);
}
/* -------------------------------------- */

/* link navbar */
.nav-link-custom{
  color: white;
}

.nav-link-custom:hover{
  color: var(--bg-emerald);
}

/* input text border & padding */
.form-control-custom{
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  padding-left: 0;
}

.form-control-custom::placeholder{
  color: var(--text-dark-grey);
}

/* star separator */
/* ---------------------------------------- */
.star{
  position: relative;
  font-size: 1.4rem;
}

.star::before{
  content: "";

  width: 10%;
  height: 4px;
  
  position: absolute;
  top: calc(50% - 2px);
  left: calc(50% + 32px);

  border-radius: 4px;
  background-color: currentColor;
}

.star::after{
  content: "";

  width: 10%;
  height: 4px;
  
  position: absolute;
  top: calc(50% - 2px);
  right: calc(50% + 32px);

  border-radius: 4px;
  background-color: currentColor;
}
/* end star separator */
/* ---------------------------------------- */

/* -------------------------------------- */

/* HEADER */
header{
  height: 90px;
}

/* HERO */
.hero-custom .image-custom{
  width: 250px;
  margin: 0 auto;
}

/* ABOUT */
.container-custom{
  width: 80%;
  margin: 0 auto;
}

.btn-custom{
  background-color: var(--bg-emerald);
  border: none;
}

.btn-custom:hover{
  background-color: #148f76;
}
