:root{
  --bg-dark-navy: #2c3e50;
  --bg-emerald: #1abc9c;
  --bg-navy: #3a546d;

  --text-dark-grey: #333333;
}
/* DEBUG */
/* -------------------------------------- */
.container,.row,.col{
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}
/* -------------------------------------- */

/* UTILITY */
/* -------------------------------------- */
.bg-dark-navy{
  background-color: var(--bg-dark-navy);
}

.bg-navy{
  background-color: var(--bg-navy);
}

.bg-emerald{
  background-color: var(--bg-emerald);
}

.form-control-custom{
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  padding-left: 0;
}

.form-control-custom::placeholder{
  color: var(--text-dark-grey);
}
/* -------------------------------------- */

/* HEADER */
header{
  height: 90px;
}

/* HERO */
.hero-custom{
  height: 500px; /* debug */
}

/* ABOUT */
.container-custom{
  width: 80%;
  margin: 0 auto;
}

.btn-custom{
  background-color: var(--bg-emerald);
}

.btn-custom:hover{
  background-color: rgba(26, 188, 156, 0.8);
}
